<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YChanEx.Resources.YCSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.YCSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Adv" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YChanEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="YChanEx.YCSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <YChanEx.Resources.YCSettings>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scannerTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="downloadPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="originalName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="htmlDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warnOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="threadDeadAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="formSizeH" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="formSizeW" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="updaterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="historyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logErrorFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preventDupes" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.Resources.YCSettings>
        <YChanEx.YCSettings>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scannerTimer" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="downloadPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="originalName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="htmlDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="warnOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="threadDeadAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="formSizeH" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="formSizeW" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="updaterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="historyIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sortHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logErrorFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.YCSettings>
        <YChanEx.Properties.Settings>
            <setting name="runningUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cloudVersion" serializeAs="String">
                <value>-1</value>
            </setting>
        </YChanEx.Properties.Settings>
        <YChanEx.Adv>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:55.0) Gecko/20100101 Firefox/55.0</value>
            </setting>
            <setting name="settingsDisableScan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveDate" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.Adv>
    </userSettings>
    <applicationSettings>
        <YChanEx.Properties.Settings>
            <setting name="currentVersion" serializeAs="String">
                <value>1.681</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.Properties.Settings>
        <YChanEx.YCSettings>
        </YChanEx.YCSettings>
    </applicationSettings>
</configuration>
