<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YChanEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.RegexStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Regex" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Downloads" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Advanced" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YChanEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <YChanEx.Properties.Settings>
            <setting name="SkippedVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </YChanEx.Properties.Settings>
        <YChanEx.RegexStrings>
            <setting name="FourChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="FourTwentyChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SevenChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EightChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="fchanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="EightKunURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SevenChanFiles" serializeAs="String">
                <value />
            </setting>
        </YChanEx.RegexStrings>
        <YChanEx.Regex>
            <setting name="FourChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="FourTwentyChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SevenChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EightChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="fchanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanFiles" serializeAs="String">
                <value />
            </setting>
        </YChanEx.Regex>
        <YChanEx.General>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExitWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFullBoardNameForTitle" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.General>
        <YChanEx.Downloads>
            <setting name="SaveThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOriginalFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScannerDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SaveQueueOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.Downloads>
        <YChanEx.Advanced>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; Linux i686; rv:64.0) Gecko/20100101 Firefox/64.0</value>
            </setting>
            <setting name="DisableScanWhenOpeningSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilenceErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.Advanced>
    </userSettings>
    <applicationSettings>
        <YChanEx.Properties.Settings>
            <setting name="AppVersion" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="DebugDate" serializeAs="String">
                <value>2020-10-19</value>
            </setting>
        </YChanEx.Properties.Settings>
    </applicationSettings>
</configuration>