<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YChanEx.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Settings.Downloads" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Saved" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.RegexStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Downloads" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YChanEx.Advanced" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <YChanEx.Settings.General>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExitWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFullBoardNameForTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveQueueOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeInsteadOfExiting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveThreads" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.Settings.General>
        <YChanEx.Settings.Downloads>
            <setting name="SaveThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOriginalFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScannerDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AllowFileNamesGreaterThan255" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fchanWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseThreadName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanThreadHTML" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.Settings.Downloads>
        <YChanEx.Saved>
            <setting name="MainFormLocation" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
            <setting name="DownloadFormSize" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
            <setting name="CreateThreadInTheBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormColumnSizes" serializeAs="String">
                <value />
            </setting>
        </YChanEx.Saved>
        <YChanEx.RegexStrings>
            <setting name="FourChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="FourTwentyChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SevenChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="SevenChanPosts" serializeAs="String">
                <value />
            </setting>
            <setting name="EightChanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="EightKunURL" serializeAs="String">
                <value />
            </setting>
            <setting name="fchanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="fchanFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="fchanIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanID" serializeAs="String">
                <value />
            </setting>
            <setting name="u18chanPosts" serializeAs="String">
                <value />
            </setting>
        </YChanEx.RegexStrings>
        <YChanEx.General>
            <setting name="ShowTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExitWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFullBoardNameForTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveQueueOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeInsteadOfExiting" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.General>
        <YChanEx.Downloads>
            <setting name="SaveThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveHTML" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOriginalFilenames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreventDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScannerDelay" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AllowFileNamesGreaterThan255" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fchanWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseThreadName" serializeAs="String">
                <value>True</value>
            </setting>
        </YChanEx.Downloads>
        <YChanEx.Advanced>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; Linux i686; rv:64.0) Gecko/20100101 Firefox/84.0</value>
            </setting>
            <setting name="DisableScanWhenOpeningSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilenceErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </YChanEx.Advanced>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
